# EditorConfig is awesome: https://EditorConfig.org

# Declares that this is the top-level configuration
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# The settings are the same in .clang-format. Keep them in sync.
[*.{c,cpp,h,nsi,rc,pkg}]
indent_style = tab
indent_size = 4

[CMakeLists.txt]
indent_style = tab
indent_size = 4

[*.{glsl,py,sh}]
indent_style = space
indent_size = 4

[*.{lua*,yml,yaml}]
indent_style = space
indent_size = 2
