.cache
debian/tmp/*
gmon.*
valgrind.*
debian/*.debhelper
debian/*.log
debian/*.substvars
debian/files
debian/stratagus
debian/stratagus-dbg
debian/stratagus-dev
debian/stratagus-doc
obj-*
./*.filters
./*.user
./*.vcxproj
./CMakeCache.txt
./CMakeFiles
./Debug
./Doxyfile
./Release
./Win32
./cmake_install.cmake
./ipch
./png2stratagus.dir
./stratagus.dir
./stratagus.opensdf
./stratagus.sdf
./stratagus.sln
./stratagus.suo
./tolua.cpp
./tolua.cpp.rule
build
build_linux
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/scripts
.clangd
compile_commands.json
pytorchenv
**/.DS_Store
**/*~
.*.kate-swp
.swp.*
