Source: stratagus
Section: games
Priority: optional
Maintainer: Pali Rohár <pali.rohar@gmail.com>
Build-Depends: automake, libsdl1.2-dev (>> 1.2.2), libvorbis-dev,
 libpng12-dev (>= 1.2.5), libbz2-dev, liblua5.1-dev | liblua5.1-0-dev,
 debhelper (>> 4.0.0), libpthread-stubs0-dev, libgl-dev | libgles1-sgx-img-dev,
 libgl-dev | libsdl-gles1.2-dev, libogg-dev, libtheora-dev, libmikmod2-dev
Standards-Version: 3.6.1
Homepage: http://stratagus.sourceforge.net
Vcs-Bzr: lp:~pali.rohar/+junk/stratagus

Package: stratagus
Architecture: any
Suggests: stratagus-data
Depends: ${shlibs:Depends}
Description: realtime strategy game for Unix and X
 Stratagus is a free cross-platform real-time strategy gaming engine.
 It includes support for playing over Internet/LAN, or playing vs.
 computer opponents. The engine is configurable and can be used to
 create games with a wide-range of features specific to your needs.
 .
 Stratagus started as a clone of the realtime fantasy strategy game
 WarCraft II from Blizzard Entertainment, although it is used now as a
 game engine to build other games, sci-fi or fantasy ones.
 .
 This is the stable release of Stratagus, and is both fairly playable and
 fairly bug-free. It also has network connectivity for up to 8 players.
 .
 This version is compiled with some of the possible options, and thus has
 gzip, bunzip2, SDL, vorbis, theora and OpenGL (or OpenGL ES) support.
 The sound options will depend on your personal election on SDL packages.

Package: stratagus-gl
Architecture: all
Depends: stratagus
Description: Transitional package
 This dummy package is provided for a smooth transition to the new stratagus.
 .
 It may safely be removed after installation.
