#!/usr/bin/make -f
#       _________ __                 __
#      /   _____//  |_____________ _/  |______     ____  __ __  ______
#      \_____  \\   __\_  __ \__  \\   __\__  \   / ___\|  |  \/  ___/
#      /        \|  |  |  | \// __ \|  |  / __ \_/ /_/  >  |  /\___ |
#     /_______  /|__|  |__|  (____  /__| (____  /\___  /|____//____  >
#             \/                  \/          \//_____/            \/
#  ______________________                           ______________________
#                        T H E   W A R   B E G I N S
#         Stratagus - A free fantasy real time strategy game engine
#
#    debian/rules
#    Copyright (C) 2010-2011  Pali Rohár <pali.rohar@gmail.com>
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#

include /usr/share/cdbs/1/rules/debhelper.mk

clean::
	rm -rf $(CURDIR)/build $(CURDIR)/build-dbg
	if [ -f /etc/maemo_version ]; then \
		[ -f $(CURDIR)/debian/control.orig ] && mv $(CURDIR)/debian/control.orig $(CURDIR)/debian/control; \
	fi

build:
	mkdir -p $(CURDIR)/build $(CURDIR)/build-dbg
	cd $(CURDIR)/build && cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Release ..
	cd $(CURDIR)/build-dbg && cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Debug -DENABLE_DOC=OFF ..
	$(MAKE) -C $(CURDIR)/build
	$(MAKE) -C $(CURDIR)/build-dbg

install/stratagus::
	install -m0755 $(CURDIR)/build/stratagus $(CURDIR)/debian/stratagus/usr/games/
	convert $(CURDIR)/src/win32/stratagus.ico $(CURDIR)/debian/stratagus/usr/share/pixmaps/stratagus.png

install/stratagus-dbg::
	install -m0755 $(CURDIR)/build-dbg/stratagus-dbg $(CURDIR)/debian/stratagus-dbg/usr/games/

binary-fixup/stratagus::
	if [ -f /etc/maemo_version ]; then \
		mkdir -p $(CURDIR)/debian/stratagus/opt/stratagus/bin; \
		mkdir -p $(CURDIR)/debian/stratagus/opt/stratagus/share/doc; \
		mkdir -p $(CURDIR)/debian/stratagus/opt/man/man6; \
		mv $(CURDIR)/debian/stratagus/usr/games/stratagus $(CURDIR)/debian/stratagus/opt/stratagus/bin/; \
		mv $(CURDIR)/debian/stratagus/usr/share/doc/stratagus $(CURDIR)/debian/stratagus/opt/stratagus/share/doc/; \
		mv $(CURDIR)/debian/stratagus/usr/share/man/man6/stratagus.6.gz $(CURDIR)/debian/stratagus/opt/man/man6/; \
		ln -s /opt/stratagus/bin/stratagus $(CURDIR)/debian/stratagus/usr/games/stratagus; \
		ln -s /opt/stratagus/share/doc/stratagus/ $(CURDIR)/debian/stratagus/usr/share/doc/stratagus; \
		ln -s /opt/man/man6/stratagus.6.gz $(CURDIR)/debian/stratagus/usr/share/man/man6/stratagus.6.gz; \
	fi

binary-predeb/stratagus::
	if [ -f /etc/maemo_version ]; then \
		cp $(CURDIR)/debian/control $(CURDIR)/debian/control.orig; \
		sed -n -e "1,/^Depends:.*$$/p" $(CURDIR)/debian/control.orig > $(CURDIR)/debian/control; \
		sed "/^Package: stratagus$$/a\Section: user\/games" -i $(CURDIR)/debian/control; \
		echo "XSBC-Bugtracker: https://bugs.launchpad.net/stratagus" >> $(CURDIR)/debian/control; \
		echo "XB-Maemo-Display-Name: Stratagus" >> $(CURDIR)/debian/control; \
		echo "XB-Maemo-Icon-26:" >> $(CURDIR)/debian/control; \
		for line in $(shell convert $(CURDIR)/src/win32/stratagus.ico -resize 48x48 png:- | uuencode -m - | tail -n +2 | head -n -1); do \
			echo " $$line" >> $(CURDIR)/debian/control; \
		done; \
		sed -n -e "/^Depends:.*$$/,\$$p" $(CURDIR)/debian/control.orig | tail -n +2 >> $(CURDIR)/debian/control; \
	fi
