#!/usr/bin/make -f
#       _________ __                 __
#      /   _____//  |_____________ _/  |______     ____  __ __  ______
#      \_____  \\   __\_  __ \__  \\   __\__  \   / ___\|  |  \/  ___/
#      /        \|  |  |  | \// __ \|  |  / __ \_/ /_/  >  |  /\___ |
#     /_______  /|__|  |__|  (____  /__| (____  /\___  /|____//____  >
#             \/                  \/          \//_____/            \/
#  ______________________                           ______________________
#                        T H E   W A R   B E G I N S
#         Stratagus - A free fantasy real time strategy game engine
#
#    debian/rules
#    Copyright (C) 2010-2011  Pali Rohár <pali.rohar@gmail.com>
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#

include /usr/share/cdbs/1/rules/debhelper.mk

DEB_INSTALL_DOCS_ALL =

clean::
	rm -rf build build-dbg

build:
	mkdir -p build build-dbg
	cd build && cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Release -DENABLE_DOC=ON ..
	cd build-dbg && cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Debug ..
	$(MAKE) -C build
	$(MAKE) -C build-dbg

install/stratagus::
	$(MAKE) -C build DESTDIR=$(CURDIR)/debian/stratagus install
	convert src/win32/stratagus.ico $(CURDIR)/debian/stratagus/usr/share/pixmaps/stratagus.png

install/stratagus-dbg::
	$(MAKE) -C build-dbg DESTDIR=$(CURDIR)/debian/stratagus-dbg install
	rm -f debian/stratagus-dbg/usr/bin/png2stratagus debian/stratagus-dbg/usr/sbin/metaserver

MAEMO := $(shell if pkg-config maemo-version 1>/dev/null 2>&1 || test -f "/etc/maemo_version" || osso-product-info -q OSSO_PRODUCT_INFO_RELEASE_NAME 2>/dev/null | grep -q -i maemo; then echo YES; fi)

ifdef MAEMO

clean::
	if test -f debian/control.orig; then mv debian/control.orig debian/control; fi

binary-fixup/stratagus::
	mkdir -p debian/stratagus/opt/stratagus/bin
	mkdir -p debian/stratagus/opt/man/man6
	mv debian/stratagus/usr/games/stratagus debian/stratagus/opt/stratagus/bin/
	mv debian/stratagus/usr/share/man/man6/stratagus.6.gz debian/stratagus/opt/man/man6/
	ln -s /opt/stratagus/bin/stratagus debian/stratagus/usr/games/stratagus
	ln -s /opt/man/man6/stratagus.6.gz debian/stratagus/usr/share/man/man6/stratagus.6.gz

binary-fixup/stratagus-dbg::
	mkdir -p debian/stratagus-dbg/opt/stratagus/bin
	mv debian/stratagus-dbg/usr/games/stratagus-dbg debian/stratagus-dbg/opt/stratagus/bin/
	ln -s /opt/stratagus/bin/stratagus-dbg debian/stratagus-dbg/usr/games/stratagus-dbg

binary-fixup/stratagus-doc::
	mkdir -p debian/stratagus-doc/opt/stratagus
	mv debian/stratagus-doc/usr/share/doc/stratagus-doc debian/stratagus-doc/opt/stratagus/doc
	ln -s /opt/stratagus/doc debian/stratagus-doc/usr/share/doc/stratagus-doc

binary-predeb/stratagus::
	if test -f debian/control.orig; then mv debian/control.orig debian/control; fi
	cp debian/control debian/control.orig
	sed -n -e "1,/^Depends:.*$$/p" debian/control.orig > debian/control
	sed "/^Package: stratagus$$/a\Section: user\/games" -i debian/control
	echo "XSBC-Bugtracker: https://bugs.launchpad.net/stratagus" >> debian/control
	echo "XB-Maemo-Display-Name: Stratagus" >> debian/control
	echo "XB-Maemo-Icon-26:" >> debian/control
	for line in $(shell convert src/win32/stratagus.ico -resize 48x48 png:- | uuencode -m - | tail -n +2 | head -n -1); do \
		echo " $$line" >> debian/control; \
	done
	sed -n -e "/^Depends:.*$$/,\$$p" debian/control.orig | tail -n +2 >> debian/control

endif
