/* $Id$ */
/* original.css */
html {
	overflow-x: auto;
	overflow-y: scroll;
}

body	{
	background: #f0f0f0;
	color: #000;
	margin: 15px;
	padding: 0;
	font: 14px Verdana, Helvetica, Arial, sans-serif;
	border: solid 1px #999;
	}

#logo {
	width:100%;
	text-align: center;
  }

#logo img {
	border-style: none;
	}

#wrapper	{
	margin: 0px auto;
	padding: 0;
	width: 100%;
	}

/* Header's menu */
#header {
	float: none;
	display: block;
	width:100%;
	line-height:normal;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
	text-align: center;
	}

#header ul {
	list-style:none;
	display: inline;
	padding:10px 10px 0;
	margin: 0;
	}

#header li {
	float: none;
	list-style-type: none;
	display: inline;
	margin: 0;
	font: 140% bold Verdana, Helvetica, Arial, sans-serif;
	}

#header a {
	padding:5px 15px;
	}
#header a:hover {
	}

#header #current {
	}
#header #current a {
	}
#header #current a:hover {
	}

/* Main body */
#text {	
	margin: 0;
	padding: 0.5em; 
	clear: both;
	text-align: justify;
	}

.center {
	display: block;
	text-align: center;
	}

h1 {
	color: black;
	padding: 0;
	padding-bottom: 0.5em;
	font-weight: bold;
	font-size: 150%;
	text-align: left;
	clear: left;  
	}

h2 {
	color: black;
	margin-bottom: 0.5em;
	font-weight: bold;
	font-size: 120%;
	text-align: left;
	clear: left;  
	}

/* Default paragraph style*/
p {
	margin: 0;
	text-align: justify;
	line-height: 1.3em;
	padding-bottom: 1em;
	}

pre {
	color: #000;
	font-size: 100%;
	font-family: courier, fixed, monospace;
	text-decoration: none;
	margin-left: +1em;
	padding: 5px;
	}

/* links */

a:link img {
	border: none;
	}

/* footer */
#footer {
	display: block;
	width:100%;
	padding: 0.5em;
	line-height: normal;
	}

#footer ul {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
	}

#footer li {
	float: none;
	list-style-type: none;
	display: inline;
	margin: 0;
	padding-right: 10px;
	font: 100% bold Verdana, Helvetica, Arial, sans-serif;
	}

#footer a {
	}

#footer a:hover {
	}
