/* $Id$ */
/* simple.css */
html {
	overflow-x: auto;
	overflow-y: scroll;
}

body	{
	background: #f0f0f0;
	color: #000;
	margin: 0;
	padding: 0;
	border: 0;
	font: 14px Verdana, Helvetica, Arial, sans-serif;
	padding-bottom: 25px;
	}

#logo {
	width:100%;
	text-align: center;
  }

#logo img {
	border-style: none;
}

#wrapper	{
	margin: 10px auto;
	padding: 0 0 10px 0;
	width: 90%;	
	min-width: 600px;
}

/* Menu (id=header) */
#header {
	float:left;
	display: block;
	width:100%;
	background: #f0f0f0;
	line-height:normal;
	border-bottom: 2px solid #999;
	}

#header ul {
	list-style:none;
	display: inline;
	padding:10px 10px 0;
	margin: 0;
	}

#header li {
	float:left;
	list-style-type: none;
	display: inline;
	margin: 0;
	font: 120% bold Verdana, Helvetica, Arial, sans-serif;
	vertical-align: middle;
	text-align: center;
	border: solid 2px #999;
	border-bottom: 0px;
	/*-moz-border-radius: 10px;*/
	background: #999;
	}

#header a {
	float:left;
	text-decoration:none;
	font-weight:bold;
	color:#000;
	padding:5px 15px;
	background:#999;
	}
#header a:hover {
	color:#f0f0f0;
	}

#header #current {
	background: #e0e0e0;
	border: solid 2px #999;
	border-bottom: 0px;
	/*-moz-border-radius: 10px;*/
	}
#header #current a {
	background: #e0e0e0;
	padding-bottom:5px;
	}
#header #current a:hover {
	color:#000;
	}

/* Main body */
#text {	
	padding: 20pt;
	border-bottom: 2px solid #999;
	border-left: 2px solid #999;
	border-right: 2px solid #999;
	clear: both;
	text-align: justify;
	}

h1 {
	background: #fafafa;
	color: black;
	border: solid #fff 1px;
	padding: 5px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 130%;
	text-align: left;
	clear: left;  
	}

h2 {
	background: #999;
	color: black;
	border: solid #000 1px;
	padding: 4px;
	margin-left: 15px;
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 110%;
	text-align: left;
	clear: left;  
	}

/* Default paragraph style*/
p {
	margin: 1em 0em;
	margin-left: 1.5em;
	text-align: justify;
	line-height: 1.5em;
	}

pre {
	color: #000;
	font-size: 110%;
	font-family: courier, fixed, monospace;
	text-decoration: none;
	margin-left: +5%;
	padding: 5px;
	background-color: #f6f6f6;
	border: 1px solid #999;
	}

/* links */
a {
	color:#000;
	}

a:hover {
	color:#fff;
	}

a:link img {
	border: none;
	}

/* footer */
#footer {
	display: block;
	width:90%;
	min-width: 600px;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #999;
	line-height: normal;
	border: 2px solid #000;
	text-align: center;
	}

#footer ul {
	list-style: none;
	display: inline;
	margin: 0px;
	}

#footer li {
	float: none;
	list-style-type: none;
	display: inline;
	margin: 5px;
	font: 120% bold Verdana, Helvetica, Arial, sans-serif;
	}

#footer a {
	text-decoration:none;
	font-weight:bold;
	color:#000;
	}

#footer a:hover {
	color:#fff;
	}

